.search-bar {
  border: 1px solid white;
  padding: 1rem;
}
.search-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #c2c2c2;
  border: none;
  border-radius: 5px;
}

.search-bar .search-bar_label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}
