.card-container-graph .card canvas {
  width: 1249px;
  height: 624px;
  display: block;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-container-graph {
  background-color: #272952;
  height: 100%;
}
