*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  position: relative;
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
#root {
  height: 100%;
}
.home-container {
  max-width: 1200px;
  margin: 0 auto;

  position: relative;
  top: 20%;

  text-align: center;
}

.search-wrapper:first-child div {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.search-button {
  margin: 10px auto 10px 20px;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 10%;
  border: none;
  padding: 0.5rem;
}

input[type='text'] {
  width: 20%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.stock-table-header-row {
  display: flex;
  flex-direction: column;
}

.stock-table-data-info {
  display: flex;
  justify-content: space-evenly;
}

.stock-table-data-info:first-child li {
  border-bottom: 0.5px solid white;
  margin: 5px;
  color: tomato;
}

.stock-table-data-info li {
  list-style-type: none;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 500;
}

.stock-prices .stock-price-item {
  font-weight: normal;
}

.dots-10 {
  width: 12px;
  height: 12px;
  position: relative;
}
.dots-10::before,
.dots-10::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: currentColor;
}
.dots-10::before {
  box-shadow: -24px 0 currentColor;
  animation: d10-1 2s infinite linear;
}
.dots-10::after {
  transform: rotate(0deg) translateX(24px);
  animation: d10-2 2s infinite linear;
}
@keyframes d10-1 {
  50% {
    transform: translateX(24px);
  }
}
@keyframes d10-2 {
  100% {
    transform: rotate(-360deg) translateX(24px);
  }
}
