*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  position: relative;
  height: 100%;
}
#root {
  height: 100%;
}
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid tomato;
  position: relative;
  top: 20%;

  text-align: center;
}

.search-wrapper:first-child div {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.search-button {
  display: block;
  margin: 10px auto 10px auto;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 10%;
  border: none;
  padding: 0.5rem;
}

input[type='text'] {
  width: 20%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
