* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}

.third-child-div {
  display: flex;
  align-items: center;
  height: 32px;
}

.submit {
  border: 1px solid transparent;
}

.login-join-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.login-join-container::before {
  position: absolute;
  top: 0;
  left: -18px;
  width: 1px;
  height: 32px;
  content: "";
  background-color: #d1d1d1;
}

.login {
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-right: 14px;
  color: #767676;
  background-color: #fff;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;
}

.join {
  margin-right: 0;
  background-color: #3cb46e;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  transition: all .1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;

}