* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}

.third-child-div {
  display: flex;
  align-items: center;
  height: 32px;
}

.submit {
  border: 1px solid transparent;
}

.login-join-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.login-join-container::before {
  position: absolute;
  top: 0;
  left: -18px;
  width: 1px;
  height: 32px;
  content: '';
  background-color: #d1d1d1;
}

.login {
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-right: 14px;
  color: #767676;
  background-color: #fff;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;
}

.join {
  margin-right: 0;
  background-color: #3cb46e;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

.nav-container {
  display: flex;
  box-shadow: 0 4px 12px rgb(0 0 0 / 8%), 0 0 1px rgb(1 0 0 / 10%);
}

.editorial {
  padding-left: 20px;
  padding-right: 20px;
}
.ul-editorial {
  margin-bottom: 0;
  margin-left: -32px;
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
}
.ul-editorial li {
  padding-bottom: 0;
  padding-left: 32px;
  height: 100%;
}

.ul-editorial li a {
  color: #111;
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
}

.divider {
  background-color: #d1d1d1;
  width: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  flex-shrink: 0;
}

.nav-items {
  flex-grow: 1;
  min-width: 0;
}
.inner-nav {
  position: relative;
  isolation: isolate;
}
.inner-nav::before {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.chevron {
  right: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.chevron-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
}
._1A-eG {
  fill: #767676;
  transition: fill 0.1s ease-in-out;
  width: 22px;
  height: 22px;
}
.second-inner-nav-child {
  box-sizing: initial;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  justify-content: center;
  width: 100%;
}
.shrink {
  flex-shrink: 0;
}
.shrink-child {
  padding: 0 20px;
}
.shrink-ul {
  margin-bottom: 0;
  margin-left: -32px;
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  justify-content: center;
}

.shrink-ul-li {
  padding-bottom: 0;
  padding-left: 32px;
  height: 100%;
  text-align: center;
}
.shrink-ul-anchor {
  color: #111;
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  white-space: nowrap;
}

.shrink-ul-anchor span {
  font-weight: 500;
}

._3cOFI {
  width: 32px;
  height: 32px;
  padding-left: 14px;
  fill: #767676;
  transition: fill 0.1s ease-in-out;
}

.svg-button {
  display: flex;
  align-items: center;
  box-shadow: none;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  font-size: 100%;
  margin: 0;
}

.grid-container {
  margin: 12px auto;
  max-width: 1320px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  align-items: start;
}
.item img {
  max-width: 100%;
  max-height: 100%;
}

.item {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(0, 1fr);
}
