body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  max-height: 1100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
#root,
#app {
  height: 100%;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.container-for-login {
  display: flex;
  margin: auto;
  text-align: center;
}
.row {
  padding: 1.2em;
}

.row .btn {
  padding: 0.5em;
  color: #fff;
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
}

.row .login {
  margin-bottom: 1rem;
  padding: 0.5em;
}

.dash-login h1 {
  text-align: center;
}
.drawer {
  width: 256px;
  border-right: 1px solid black;
}
.nav-column {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: space-between;
  padding: 20px 8px 8px;
  flex-direction: column;
}
.nav-column a {
  width: 100%;
  display: flex;
}
.admin-nav {
  background-color: #000;
  color: #c9cace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_header {
  padding-left: 20px;
  width: 100%;
  font-size: 1.5rem;
}

.admin-nav-second-child .discuss .label-button {
  padding-right: 15px;
}

.discuss,
.label-button {
  margin: 0 15px;
}

.discuss {
  padding: 25px;
  font-size: 1rem;
}
