body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header_home {
  background: url('./images/hero.png') no-repeat center 0 fixed;
  background-size: cover;
}

.header-nav,
.header_home {
  background-color: #000;
}

.header-nav {
  display: grid;
  grid-template-columns: 800px auto;
  padding: 25px;
  padding-bottom: 15px;
}
.header-nav ul {
  margin: 0;
}
.header-nav li {
  display: inline-block;
  padding: 0 25px;
}
.header-nav li a {
  color: #fff;
}
